/*Generics*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

/* Utilities */
.container {
    width: 1080px;
    margin: 0 auto;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.text-white {
    color: white;
}

.text-grey {
    color: gray;
}

/* Header */
#logo {
    max-width: 200px;
    max-height: 200px;
}

.nav-menu {
    display: inline-block;
    text-decoration: none;
    padding-right: 10px;
    margin: 40px 0;
}

/* Main */
.jumbotron {
    height: 300px;
    background-color:#B49286;
    margin-bottom: 40px;
}

.lower-section {
    height: 450px;
    margin-bottom: 40px;
    background-color: #744253;
}

#menu {
    background-color: #F3D9DC;
    height: 60px;
}

.sidebar {
    background-color: #F3D9DC;
    height: 350px;
    float: left;
    margin-top: 80px;
    width: calc(25% - 20px);
}

.sidebar.special {
    margin: 80px 20px 0 20px;
    width: 50%;
}

/* Footer */
footer {
    background-color: #C78283;
    height: 50px;
    margin: 10px 0;
}

